@using DataTransferObject.DTOClasses.Product.Results
@model List<BrandResult>


<div id="tablecontent">
    <div class="container mt-5">
        <!-- Header with actions -->
        <div class="d-flex justify-content-center align-items-center mb-3">
            <div>
                <button onclick="AddBrand()" class="btn btn-primary me-2">اضافه کردن</button>
            </div>
            <div class="input-group" style="width: 500px;">
                <span class="input-group-text"> برند:</span>
                <input id="brandInput"  type="text" class="form-control" placeholder="نام برند">
            </div>
        </div>
        
        <!-- Table -->
        <div class="table-responsive">
            <table class="table table-sm table-striped table-bordered">
                <thead class="table-primary">
                    <tr>
                       
                        <th>ID</th>
                        <th>نام برند</th>
                       
                    </tr>
                </thead>
                <tbody>
                   
                    @foreach (var brand in Model)
                    {
                        <tr>

                           
                            <td>@brand.Id</td>
                            <td>@brand.BrandName</td>
                            
     
                        </tr>
                    }


                </tbody>
            </table>
        </div>
        <!-- Footer with pagination and rows per page -->
        
    </div>

    @if (ViewData["Branderror"] != null)
    {
        <div class="position-fixed bottom-0 start-0 p-3" style="z-index: 1333050;">
            <div class="bs-toast toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header bg-danger text-white">
                    <div class="me-auto fw-semibold">خطا</div>
                    <small></small>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">@ViewData["Branderror"]</div>
            </div>
        </div>

    }


</div>





@section Scripts {
    <script>


        function AddBrand() {
            var brand = $("#brandInput").val();
            $.ajax({
                url: '/admin/product/CreateBrand',
                type: "POST",
                data: { BrandName: brand },
                success: function (response) {
                    var newBodyContent = $(response).find('#tablecontent').html();
                    $('#tablecontent').html(newBodyContent);
                },
               
            });
        }

    </script>
}



